:root
{
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}

.button {
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 2px 10px;
  background: linear-gradient(180deg, #afddeb 26.71%, #76b4c7 99.36%);
  box-shadow: 0px 10px 24px 3px rgba(90, 117, 168, 0.42);
}

.button:hover {
  background: white;
  cursor: pointer;
  color:rgba(15, 32, 65, 1);
  border: 1px solid rgba(90, 117, 168, 1);
  margin: -1px;
}
